-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: hso_data
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `hso_data`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `hso_data` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `hso_data`;

--
-- Table structure for table `account`
--

DROP TABLE IF EXISTS `account`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `pass` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `ac_admin` tinyint NOT NULL DEFAULT '0',
  `char` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT '[]',
  `status` tinyint NOT NULL DEFAULT '1',
  `lock` tinyint NOT NULL DEFAULT '0',
  `coin` int NOT NULL DEFAULT '0',
  `phone` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT '0',
  `email` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `ip` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `last_ip` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `tiennap` int NOT NULL DEFAULT '0',
  `pass2` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT '0',
  `naptuan` int NOT NULL DEFAULT '0',
  `tongnap` int DEFAULT '0',
  `otp` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
  `expiration_otp` int DEFAULT NULL,
  `token` int DEFAULT NULL,
  `create_time` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `user` (`user`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account`
--

LOCK TABLES `account` WRITE;
/*!40000 ALTER TABLE `account` DISABLE KEYS */;
/*!40000 ALTER TABLE `account` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cards`
--

DROP TABLE IF EXISTS `cards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cards` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL DEFAULT '0',
  `trans_id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telco` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `amount` int NOT NULL DEFAULT '0',
  `price` int NOT NULL DEFAULT '0',
  `price_real` int NOT NULL DEFAULT '0',
  `serial` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `pin` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `status` int NOT NULL DEFAULT '0',
  `create_date` datetime NOT NULL,
  `update_date` datetime NOT NULL,
  `reason` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `trans_id` (`trans_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=2886 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cards`
--

LOCK TABLES `cards` WRITE;
/*!40000 ALTER TABLE `cards` DISABLE KEYS */;
/*!40000 ALTER TABLE `cards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chiem_mo`
--

DROP TABLE IF EXISTS `chiem_mo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chiem_mo` (
  `idx` int NOT NULL,
  `isbuff_hp` tinyint NOT NULL DEFAULT '0',
  `name_clan` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `nhanban` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci,
  `nhanban_save` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci,
  `time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`idx`) USING BTREE
) ENGINE=MyISAM DEFAULT CHARSET=latin1 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chiem_mo`
--

LOCK TABLES `chiem_mo` WRITE;
/*!40000 ALTER TABLE `chiem_mo` DISABLE KEYS */;
/*!40000 ALTER TABLE `chiem_mo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clan`
--

DROP TABLE IF EXISTS `clan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `name_short` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `mems` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci,
  `level` int DEFAULT NULL,
  `exp` bigint DEFAULT NULL,
  `slogan` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci,
  `rule` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci,
  `notice` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci,
  `vang` bigint DEFAULT NULL,
  `kimcuong` int DEFAULT NULL,
  `max_mem` int DEFAULT NULL,
  `icon` int DEFAULT NULL,
  `item` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clan`
--

LOCK TABLES `clan` WRITE;
/*!40000 ALTER TABLE `clan` DISABLE KEYS */;
INSERT INTO `clan` VALUES (1,'helokity','hlk','[[\"vuahsso\",127,1000000000,1020000000,0,8,38,139,[[23,8],[16,0],[16,2],[16,1],[7,7]]],[\"testdasdas\",126,0,0,0,11,3,1,[[0,10],[3,0],[3,2],[3,1]]]]',3,11087,'','','',969017000000,999876850,5,610,'[[163,1],[161,1],[160,1],[159,1],[146,1],[19,1],[20,1]]'),(2,'Chien','nvc','[[\"hellokity\",127,0,1300000000,0,10,23,25,[[5,11],[10,0],[10,2],[10,1]]],[\"choimoine\",122,0,0,0,11,3,11,[[0,10],[3,0],[3,2],[3,1]]]]',1,721,'','','',300000000,0,5,825,'[[146,1]]');
/*!40000 ALTER TABLE `clan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `config_server`
--

DROP TABLE IF EXISTS `config_server`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `config_server` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `data1` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
  `data2` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `config_server`
--

LOCK TABLES `config_server` WRITE;
/*!40000 ALTER TABLE `config_server` DISABLE KEYS */;
INSERT INTO `config_server` VALUES (1,'vua_chien_truong','','true'),(2,'list_win_chien_truong','[]','true'),(3,'chiem_thanh','[]','null'),(4,'thue','5','5');
/*!40000 ALTER TABLE `config_server` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `event`
--

DROP TABLE IF EXISTS `event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `event` (
  `id` int NOT NULL,
  `data` text CHARACTER SET latin1 COLLATE latin1_swedish_ci,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=latin1 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `event`
--

LOCK TABLES `event` WRITE;
/*!40000 ALTER TABLE `event` DISABLE KEYS */;
/*!40000 ALTER TABLE `event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fashiontemplate`
--

DROP TABLE IF EXISTS `fashiontemplate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fashiontemplate` (
  `id` int NOT NULL AUTO_INCREMENT,
  `part` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `name` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=9992 DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fashiontemplate`
--

LOCK TABLES `fashiontemplate` WRITE;
/*!40000 ALTER TABLE `fashiontemplate` DISABLE KEYS */;
/*!40000 ALTER TABLE `fashiontemplate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `giftcode`
--

DROP TABLE IF EXISTS `giftcode`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `giftcode` (
  `id` int NOT NULL AUTO_INCREMENT,
  `giftname` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `item3` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
  `item4` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
  `item7` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
  `item47random` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
  `countrandom` tinyint DEFAULT '0',
  `vang` bigint DEFAULT NULL,
  `ngoc` int DEFAULT NULL,
  `empty_box` tinyint NOT NULL,
  `message` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
  `limit` int DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `giftname` (`giftname`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=3123132 DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `giftcode`
--

LOCK TABLES `giftcode` WRITE;
/*!40000 ALTER TABLE `giftcode` DISABLE KEYS */;
/*!40000 ALTER TABLE `giftcode` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `giftcode2`
--

DROP TABLE IF EXISTS `giftcode2`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `giftcode2` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name_player` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `item3` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci,
  `item3_defauft` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci,
  `item4` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci,
  `item7` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci,
  `vang` bigint NOT NULL DEFAULT '0',
  `ngoc` bigint NOT NULL DEFAULT '0',
  `empty_box` tinyint NOT NULL DEFAULT '0',
  `type_gift` tinyint NOT NULL DEFAULT '0',
  `logger` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci,
  `status` tinyint NOT NULL DEFAULT '0',
  `time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=MyISAM AUTO_INCREMENT=912 DEFAULT CHARSET=latin1 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `giftcode2`
--

LOCK TABLES `giftcode2` WRITE;
/*!40000 ALTER TABLE `giftcode2` DISABLE KEYS */;
/*!40000 ALTER TABLE `giftcode2` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `history_coin`
--

DROP TABLE IF EXISTS `history_coin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `history_coin` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `user_name` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `name_player` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `coin_change` int DEFAULT NULL,
  `logger` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `history_coin`
--

LOCK TABLES `history_coin` WRITE;
/*!40000 ALTER TABLE `history_coin` DISABLE KEYS */;
/*!40000 ALTER TABLE `history_coin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `history_del_item`
--

DROP TABLE IF EXISTS `history_del_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `history_del_item` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name_player` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `item3` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '[]',
  `item47` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '[]',
  `logger` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=MyISAM AUTO_INCREMENT=154 DEFAULT CHARSET=latin1 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `history_del_item`
--

LOCK TABLES `history_del_item` WRITE;
/*!40000 ALTER TABLE `history_del_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `history_del_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `history_doi_dai_bang`
--

DROP TABLE IF EXISTS `history_doi_dai_bang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `history_doi_dai_bang` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `name_player` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `last_point` int NOT NULL,
  `point_arena` int NOT NULL,
  `time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `history_doi_dai_bang`
--

LOCK TABLES `history_doi_dai_bang` WRITE;
/*!40000 ALTER TABLE `history_doi_dai_bang` DISABLE KEYS */;
/*!40000 ALTER TABLE `history_doi_dai_bang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `history_kmb2`
--

DROP TABLE IF EXISTS `history_kmb2`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `history_kmb2` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name_player_sell` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `name_player_buy` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_gold_sell` bigint NOT NULL,
  `affter_gold_sell` bigint NOT NULL,
  `last_gold_buy` bigint NOT NULL,
  `affter_gold_buy` bigint NOT NULL,
  `item3` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '[]',
  `item47` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '[]',
  `time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `check` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=MyISAM DEFAULT CHARSET=latin1 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `history_kmb2`
--

LOCK TABLES `history_kmb2` WRITE;
/*!40000 ALTER TABLE `history_kmb2` DISABLE KEYS */;
/*!40000 ALTER TABLE `history_kmb2` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `history_vxmm`
--

DROP TABLE IF EXISTS `history_vxmm`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `history_vxmm` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name_player` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `monney_join` int NOT NULL,
  `money_round` bigint NOT NULL,
  `type_monney` tinyint NOT NULL,
  `last_monney` bigint NOT NULL,
  `monney` bigint NOT NULL,
  `logger` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `history_vxmm`
--

LOCK TABLES `history_vxmm` WRITE;
/*!40000 ALTER TABLE `history_vxmm` DISABLE KEYS */;
/*!40000 ALTER TABLE `history_vxmm` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item3`
--

DROP TABLE IF EXISTS `item3`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item3` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `type` tinyint DEFAULT NULL,
  `part` tinyint DEFAULT NULL,
  `clazz` tinyint DEFAULT NULL,
  `iconid` int DEFAULT NULL,
  `level` int DEFAULT NULL,
  `data` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `color` tinyint DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=4813 DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item3`
--

LOCK TABLES `item3` WRITE;
/*!40000 ALTER TABLE `item3` DISABLE KEYS */;
/*!40000 ALTER TABLE `item3` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item4`
--

DROP TABLE IF EXISTS `item4`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item4` (
  `id` int NOT NULL,
  `icon` int DEFAULT NULL,
  `price` bigint DEFAULT NULL,
  `name` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `content` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `typepotion` tinyint DEFAULT NULL,
  `moneytype` tinyint DEFAULT NULL,
  `sell` tinyint DEFAULT NULL,
  `value` int DEFAULT NULL,
  `canTrade` tinyint DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item4`
--

LOCK TABLES `item4` WRITE;
/*!40000 ALTER TABLE `item4` DISABLE KEYS */;
/*!40000 ALTER TABLE `item4` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item5`
--

DROP TABLE IF EXISTS `item5`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item5` (
  `id` int NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `type` tinyint DEFAULT NULL,
  `part` tinyint DEFAULT NULL,
  `clazz` tinyint DEFAULT NULL,
  `iconid` int DEFAULT NULL,
  `level` int DEFAULT NULL,
  `data` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `color` tinyint DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item5`
--

LOCK TABLES `item5` WRITE;
/*!40000 ALTER TABLE `item5` DISABLE KEYS */;
/*!40000 ALTER TABLE `item5` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item7`
--

DROP TABLE IF EXISTS `item7`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item7` (
  `id` int NOT NULL AUTO_INCREMENT,
  `imgid` int DEFAULT NULL,
  `price` bigint DEFAULT NULL,
  `name` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `content` varchar(1000) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `type` tinyint DEFAULT NULL,
  `pricetype` tinyint DEFAULT NULL,
  `sell` tinyint DEFAULT NULL,
  `value` int DEFAULT NULL,
  `trade` tinyint DEFAULT NULL,
  `setcolorname` tinyint DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=501 DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item7`
--

LOCK TABLES `item7` WRITE;
/*!40000 ALTER TABLE `item7` DISABLE KEYS */;
/*!40000 ALTER TABLE `item7` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `itemoption`
--

DROP TABLE IF EXISTS `itemoption`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `itemoption` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(500) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `colorInfoItem` tinyint DEFAULT NULL,
  `isPercentInfoItem` tinyint DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=195 DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `itemoption`
--

LOCK TABLES `itemoption` WRITE;
/*!40000 ALTER TABLE `itemoption` DISABLE KEYS */;
/*!40000 ALTER TABLE `itemoption` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `itemsell`
--

DROP TABLE IF EXISTS `itemsell`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `itemsell` (
  `id` int NOT NULL,
  `namenpc` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `data` varchar(3000) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `itemsell`
--

LOCK TABLES `itemsell` WRITE;
/*!40000 ALTER TABLE `itemsell` DISABLE KEYS */;
/*!40000 ALTER TABLE `itemsell` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `itemsellcoin`
--

DROP TABLE IF EXISTS `itemsellcoin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `itemsellcoin` (
  `id` int NOT NULL AUTO_INCREMENT,
  `item_id` int DEFAULT NULL,
  `color` tinyint DEFAULT NULL,
  `price` int DEFAULT NULL,
  `data_options` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=107 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `itemsellcoin`
--

LOCK TABLES `itemsellcoin` WRITE;
/*!40000 ALTER TABLE `itemsellcoin` DISABLE KEYS */;
/*!40000 ALTER TABLE `itemsellcoin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `level`
--

DROP TABLE IF EXISTS `level`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `level` (
  `id` int NOT NULL AUTO_INCREMENT,
  `level` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `exp` bigint DEFAULT NULL,
  `tiemnang` int DEFAULT NULL,
  `kynang` int DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=141 DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `level`
--

LOCK TABLES `level` WRITE;
/*!40000 ALTER TABLE `level` DISABLE KEYS */;
/*!40000 ALTER TABLE `level` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loi_dai`
--

DROP TABLE IF EXISTS `loi_dai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loi_dai` (
  `id` int NOT NULL AUTO_INCREMENT,
  `idx_group` tinyint NOT NULL,
  `data` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci,
  `time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uc_idx_group` (`idx_group`) USING BTREE
) ENGINE=MyISAM AUTO_INCREMENT=11 DEFAULT CHARSET=latin1 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loi_dai`
--

LOCK TABLES `loi_dai` WRITE;
/*!40000 ALTER TABLE `loi_dai` DISABLE KEYS */;
INSERT INTO `loi_dai` VALUES (1,0,'[]','2024-01-29 18:00:10'),(2,1,'[]','2024-01-29 18:00:10'),(3,2,'[]','2024-01-29 18:00:10'),(4,3,'[]','2023-10-03 18:00:10'),(5,4,'[]','2023-10-01 18:00:10'),(6,5,'[]','2024-01-29 18:00:10'),(7,6,'[]','2023-10-02 20:18:10'),(8,7,'[]','2023-09-02 20:09:10');
/*!40000 ALTER TABLE `loi_dai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `map_data`
--

DROP TABLE IF EXISTS `map_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `map_data` (
  `id` int NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `map_data`
--

LOCK TABLES `map_data` WRITE;
/*!40000 ALTER TABLE `map_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `map_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maps`
--

DROP TABLE IF EXISTS `maps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `maps` (
  `id` tinyint NOT NULL,
  `name` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `type` tinyint DEFAULT NULL,
  `ismaplang` tinyint DEFAULT NULL,
  `showhs` tinyint DEFAULT NULL,
  `maxzone` tinyint DEFAULT NULL,
  `maxplayer` tinyint DEFAULT NULL,
  `vgos` varchar(1000) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `npcs` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `mobs` varchar(3000) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maps`
--

LOCK TABLES `maps` WRITE;
/*!40000 ALTER TABLE `maps` DISABLE KEYS */;
/*!40000 ALTER TABLE `maps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mconfig`
--

DROP TABLE IF EXISTS `mconfig`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mconfig` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) CHARACTER SET latin1 COLLATE latin1_swedish_ci NOT NULL,
  `data` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=MyISAM AUTO_INCREMENT=20 DEFAULT CHARSET=latin1 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mconfig`
--

LOCK TABLES `mconfig` WRITE;
/*!40000 ALTER TABLE `mconfig` DISABLE KEYS */;
INSERT INTO `mconfig` VALUES (1,'partner_id_card','sfgbrqrq'),(2,'partner_key_card','v╞░ADAWdq'),(3,'email_smtp','├ídvadad'),(4,'pass_email_smtp','avewawa'),(5,'token_tele','egeasg'),(6,'chat_id_tele','-├ófaf'),(7,'MEMO_PREFIX','tiß╗ün tß╗æ nß╗Öi dung'),(8,'token_momo','token'),(9,'name_server','t├¬n sv'),(10,'site_server','─æß╗ïa chß╗ë web'),(11,'momo_sdt','1341241'),(12,'momo_name','a  ├áaf'),(13,'ratio_nap','2'),(14,'ratio_nap_card','1'),(15,'ratio_nap_momo','1.05'),(16,'min_ratio_nap','20000'),(17,'MOMO_VANG','JMP_'),(18,'MIN_MUA_VANG','5000'),(19,'ratio_vang','40000');
/*!40000 ALTER TABLE `mconfig` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messager`
--

DROP TABLE IF EXISTS `messager`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `messager` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tile` text CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci NOT NULL,
  `content` longtext CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messager`
--

LOCK TABLES `messager` WRITE;
/*!40000 ALTER TABLE `messager` DISABLE KEYS */;
/*!40000 ALTER TABLE `messager` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mobs`
--

DROP TABLE IF EXISTS `mobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mobs` (
  `id` int NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `level` int DEFAULT NULL,
  `hp` int DEFAULT NULL,
  `typemove` tinyint DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=latin1 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mobs`
--

LOCK TABLES `mobs` WRITE;
/*!40000 ALTER TABLE `mobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `mobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `momo`
--

DROP TABLE IF EXISTS `momo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `momo` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `tranId` text CHARACTER SET utf32 COLLATE utf32_vietnamese_ci,
  `partnerId` text CHARACTER SET utf32 COLLATE utf32_vietnamese_ci,
  `partnerName` text CHARACTER SET utf16 COLLATE utf16_vietnamese_ci,
  `amount` text CHARACTER SET utf32 COLLATE utf32_vietnamese_ci,
  `amount_coin` int NOT NULL,
  `comment` text CHARACTER SET utf8mb3 COLLATE utf8mb3_vietnamese_ci,
  `time` datetime DEFAULT NULL,
  `username` varchar(32) CHARACTER SET utf32 COLLATE utf32_vietnamese_ci DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=1744 DEFAULT CHARSET=latin1 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `momo`
--

LOCK TABLES `momo` WRITE;
/*!40000 ALTER TABLE `momo` DISABLE KEYS */;
/*!40000 ALTER TABLE `momo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nap_tay`
--

DROP TABLE IF EXISTS `nap_tay`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nap_tay` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `user_name` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `user_actions` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `type` tinyint NOT NULL,
  `coin` int NOT NULL,
  `vnd` int NOT NULL,
  `logger` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `time` datetime NOT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=103 DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nap_tay`
--

LOCK TABLES `nap_tay` WRITE;
/*!40000 ALTER TABLE `nap_tay` DISABLE KEYS */;
/*!40000 ALTER TABLE `nap_tay` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `naptien`
--

DROP TABLE IF EXISTS `naptien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `naptien` (
  `id` int NOT NULL AUTO_INCREMENT,
  `uid` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `sotien` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `seri` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `code` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `loaithe` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `time` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `noidung` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `tinhtrang` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `tranid` text CHARACTER SET latin1 COLLATE latin1_swedish_ci,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=1734 DEFAULT CHARSET=latin1 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `naptien`
--

LOCK TABLES `naptien` WRITE;
/*!40000 ALTER TABLE `naptien` DISABLE KEYS */;
/*!40000 ALTER TABLE `naptien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_vang`
--

DROP TABLE IF EXISTS `order_vang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_vang` (
  `id` int NOT NULL AUTO_INCREMENT,
  `player_id` int NOT NULL,
  `player_name` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `tranId` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `partnerId` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `partnerName` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `amount` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `amount_vang` bigint NOT NULL,
  `comment` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_vang`
--

LOCK TABLES `order_vang` WRITE;
/*!40000 ALTER TABLE `order_vang` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_vang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pet`
--

DROP TABLE IF EXISTS `pet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pet` (
  `id` int NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `level` int DEFAULT NULL,
  `exp` tinyint DEFAULT NULL,
  `dataicon` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `age` int DEFAULT NULL,
  `grown` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `point1` int DEFAULT NULL,
  `point2` int DEFAULT NULL,
  `point3` int DEFAULT NULL,
  `point4` int DEFAULT NULL,
  `point` int DEFAULT NULL,
  `data` varchar(1000) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pet`
--

LOCK TABLES `pet` WRITE;
/*!40000 ALTER TABLE `pet` DISABLE KEYS */;
INSERT INTO `pet` VALUES (0,'C├║',1,0,'[0,3,3,0]',25,'[1,300]',111,222,333,444,10000,'[[1,1800,2460],[23,3,0],[24,13,0],[26,16,0],[25,47,0]]');
/*!40000 ALTER TABLE `pet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player`
--

DROP TABLE IF EXISTS `player`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `player` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `body` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `clazz` tinyint DEFAULT NULL,
  `maxbag` tinyint DEFAULT NULL,
  `diemdanh` tinyint DEFAULT NULL,
  `typeexp` tinyint DEFAULT NULL,
  `level` int DEFAULT NULL,
  `exp` bigint DEFAULT NULL,
  `site` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `rms_save` varchar(1000) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `friend` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
  `eff` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
  `enemies` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
  `skill` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `item3` longtext CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
  `item4` varchar(1000) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `item5` varchar(1000) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `item7` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
  `itembox3` longtext CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
  `itembox4` varchar(1000) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `itembox5` varchar(1000) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `itembox7` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
  `itemwear` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
  `pet` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
  `vang` bigint DEFAULT NULL,
  `kimcuong` int DEFAULT NULL,
  `tiemnang` int DEFAULT NULL,
  `kynang` int DEFAULT NULL,
  `point1` int DEFAULT NULL,
  `point2` int DEFAULT NULL,
  `point3` int DEFAULT NULL,
  `point4` int DEFAULT NULL,
  `point_arena` int NOT NULL DEFAULT '0',
  `giftcode` text CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci,
  `date` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `medal_create_material` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `item_star_material` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL DEFAULT '[]',
  `point_active` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `chucphuc` int DEFAULT '1',
  `hieuchien` int DEFAULT '0',
  `id_name` int DEFAULT '-1',
  `time_block_ctg` bigint DEFAULT '0',
  `chuyencan` int NOT NULL,
  `quest_id` smallint NOT NULL DEFAULT '1',
  `quest_kill` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `name` (`name`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player`
--

LOCK TABLES `player` WRITE;
/*!40000 ALTER TABLE `player` DISABLE KEYS */;
/*!40000 ALTER TABLE `player` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shopitem3`
--

DROP TABLE IF EXISTS `shopitem3`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shopitem3` (
  `id` int NOT NULL,
  `photo` varchar(255) CHARACTER SET latin1 COLLATE latin1_swedish_ci DEFAULT NULL,
  `name` varchar(255) CHARACTER SET latin1 COLLATE latin1_swedish_ci DEFAULT NULL,
  `code` varchar(255) CHARACTER SET latin1 COLLATE latin1_swedish_ci DEFAULT NULL,
  `option` varchar(255) CHARACTER SET latin1 COLLATE latin1_swedish_ci DEFAULT NULL,
  `model` varchar(255) CHARACTER SET latin1 COLLATE latin1_swedish_ci DEFAULT NULL,
  `coin` bigint DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=latin1 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shopitem3`
--

LOCK TABLES `shopitem3` WRITE;
/*!40000 ALTER TABLE `shopitem3` DISABLE KEYS */;
/*!40000 ALTER TABLE `shopitem3` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skills`
--

DROP TABLE IF EXISTS `skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `skills` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_skill` int NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `icon` tinyint DEFAULT NULL,
  `type` tinyint DEFAULT NULL,
  `range` int DEFAULT NULL,
  `detail` varchar(3000) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `typeBuff` tinyint DEFAULT NULL,
  `subEff` tinyint DEFAULT NULL,
  `performDur` int DEFAULT NULL,
  `typePaint` tinyint DEFAULT NULL,
  `data` varchar(5000) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=1205 DEFAULT CHARSET=utf8mb3 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skills`
--

LOCK TABLES `skills` WRITE;
/*!40000 ALTER TABLE `skills` DISABLE KEYS */;
/*!40000 ALTER TABLE `skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wedding`
--

DROP TABLE IF EXISTS `wedding`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wedding` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET latin1 COLLATE latin1_swedish_ci DEFAULT NULL,
  `item` varchar(255) CHARACTER SET latin1 COLLATE latin1_swedish_ci DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wedding`
--

LOCK TABLES `wedding` WRITE;
/*!40000 ALTER TABLE `wedding` DISABLE KEYS */;
INSERT INTO `wedding` VALUES (1,'[\"vuahsso\",\"vuahsso\"]','[0,2,0,[[0,316],[1,484],[2,129],[3,196],[4,29],[7,941],[8,1844],[9,1156],[10,1618],[11,1238],[23,221],[24,126],[25,107],[26,73],[16,1768],[17,725],[18,1888],[19,1945],[20,1413]]]');
/*!40000 ALTER TABLE `wedding` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-24 19:30:11
